<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
  <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
  </appender>
				    
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/test_%d{yyyyMMdd}_T%d{HHmmss}.log</fileNamePattern>
	    <maxHistory>7</maxHistory>
       </rollingPolicy>
       <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
       </encoder>
  </appender>    
													      
  <logger name="fami.app.framework" level="DEBUG">
       <appender-ref ref="ConsoleAppender"/>
       <appender-ref ref="FILE" /> 
  </logger>

  <root level="WARN">
       <appender-ref ref="ConsoleAppender"/>
       <appender-ref ref="FILE" /> 
  </root>

</configuration>

